
.image {
    width: 100%;
    transform: translateY(-20%);

}
.header {
    padding: 0px;
    height: 200px;
    width: 1fr;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.24);

}
