.body {
    display: flex;
    justify-content: center;

}

.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
    border: solid 2px rgba(82, 82, 82, 0.219);
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.24);
}

.statusbar {
    width: 100px;
    word-break: break-all;
}
.userName {
    font-size: 18px;
    font-style: italic;
}

.status {
    font-size: 16px;
    font-weight: bold;
    white-space: normal;
    height: auto;
}

.info {

}
.userBar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: solid lightgrey 1px;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(185, 250, 255);
}

.grow:nth-of-type(2) {
    flex-grow: 4;
}

.userBar button {
    word-wrap: break-word;
    cursor: pointer;
}
.card button {
    transition: all 200ms;
}
.follow {
    background: rgb(180, 217, 255);
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    outline: none;
    margin-left: 20px;
}

.unfollow {
    background: rgb(255, 106, 37);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    outline: none;
    margin-left: 20px;
}

.unfollow:hover {
    background: rgb(180, 217, 255);
}

.follow:hover {
    background: rgb(255, 106, 37);
}

.allBody {
    display: flex;
}