.textArea {
    outline: none;
    border: none;
    resize: none;
    font-size: 16px;
    border-radius: 10px 0px 0px 10px;
    display: block;
    width: 100%;
}

.formControl {
    width: 100%;
}

.formControl.error input,
.formControl.error textarea {
    border: solid 1px red;
}
.formControl.error span {
    color: red;
    font-size: 14px;
}

.formError {
    padding: 5px;
    color: red;
}

.textArea {
    height: 80px;

}