.input {
    display: flex;
    background-color: antiquewhite;
    margin: 10px 0px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.24);
}

.button {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0 10px 10px 0px;
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.24);
}

.ta {
    font-size: 20px;   
    background-color: antiquewhite;
    border: none!important;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.24);
}

.lineName {
    font-size: 22px;
}

