.input {
    display: flex;
    margin: 10px 0px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.24);
}

.textArea {
    outline: none;
    border: none;
    resize: none;
    font-size: 16px;
    border-radius: 10px 0px 0px 10px;
    display: block;
    width: 100%;

}

.button {
    cursor: pointer;
    outline: none;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0 10px 10px 0px;
}

.lineName {
    font-size: 22px;
}

