.header {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
    grid-area: h;
    background-color: #0d6e00a4;
    display: flex;
    align-items: center;
}

.title {
    font-size: 30px;
    color: white;
}

.image {
    margin: 8px;
    width: 50px;
    
}