.header {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
    grid-area: h;
    background-color: #0d6e00a4;
    display: flex;
    align-items: center;
    vertical-align: center;
    width: 101%;
}

.title {
    font-size: 28px;
    color: white;
}

.image {
    margin: 8px;
    width: 45px;

}

.log {
    display: inline-flex;
}

.log span {
    margin-right: 3px;
}

.loginBlock {
    vertical-align: middle;
    line-height: 30px;
    display: inline-flex; /* смещает только блоки */
    margin-left: auto;
    margin-right: 10px;
    color: white;
}

.logout {
    padding: 5px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #282c34;
    cursor: pointer;
}

.logout:hover {
    background-color: red;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}

.ava {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    margin-right: 5px;
}