
.profileInfo {
    display: flex;
    justify-content: space-between;

    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.24);
    height: 100%;
}
.inputImg {
    display: none;
}

.userBlocks:nth-of-type(2) {
    flex-grow: 3;
}
.userText {
    padding-top: 10px;
}
.userText input textarea {
    border: solid 1px black;
}
.userText:nth-of-type(1) {
    flex-grow: 3;
}

.userInfo {
    display: flex;
}

.button {
    color: cornflowerblue;
}

.button button:hover {
    background-color: lightblue;
}

.button button {
    height: 100%;
    border: none;
    border-radius: 0 0 10px 0px;
}
.button button:focus {
    outline: none;
}

.ava {
    width: 100px;
    height: 100px;
    border: solid 2px rgba(82, 82, 82, 0.219);
    border-radius: 50%;
    background-size: contain;
    margin: 10px;
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.24);
}
.name {
    font-weight: bold;
    margin-left: 10px;
}
.text {
    margin: 5px;
}
.text a {
    text-decoration: none;
    color: #4f67ff;
}
.job {
    width: 70px;
    margin-right: 5px;
}

.lfj {
    display: flex;
    align-items: center;
}

.smicon {
    margin-left: auto;
    margin-right: 10px;
}

a:hover {
    cursor: pointer;
}