.sectionOne {
    display: flex;
    justify-content: center;
}
.loader {
    position: absolute;
    align-items: center;
    top: 40%;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
.myFirstApp {
    padding: 0;
    box-sizing: border-box;
    width: 50vw;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    display: grid;
    grid-template-areas: "h h" "n c" "f f";

    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

@media only screen and (max-width: 1000px) {
    .myFirstApp{
        width: 90%;
    }

}

.sidebar {
    grid-area: n;
}

.app-content {
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.24);
    grid-area: c;
}

body {
    overflow-y: scroll;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

